@font-face {
  font-family: Unbounded;
  src: url("../../fonts/Unbounded/Unbounded-VariableFont_wght.ttf");
}

@font-face {
  font-family: TTTravels;
  src: url("../../fonts/TTTravels/TTTravels-Regular.ttf");
}

* {
  --text-color: #ffffff;
  --bg-color: #27174d;

  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;

  font-family: Unbounded;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body,
#root {
  width: 100%;

  position: relative;
}

/* Header */

header {
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.3fr 0.7fr;

  padding: 48px 80px 0;

  /* position: absolute; */

  width: 100%;

  top: 48px;
  left: 0;

  color: var(--bg-color);

  z-index: 10;
}

.location {
  grid-row: 1;
  grid-column: 1;
  align-self: center;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;

  height: 49px;

  border-bottom: 1px solid var(--bg-color);
  padding-bottom: 10px;
}

.location__img {
  width: 12.75px;
  height: 17px;

  cursor: pointer;
}

.location__text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.hamburger-menu {
  width: 24px;
  display: none;
  cursor: pointer;

  z-index: 100;
}

.hamburger-menu__list {
  position: absolute;
  top: 52px;
  left: 16px;
  background-color: var(--text-color);
  color: var(--bg-color);

  z-index: 101;
}

.hamburger-menu__item {
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
}

.top-menu {
  grid-row: 1;
  grid-column: 2;
  align-self: center;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 48px;

  height: 49px;

  border-bottom: 1px solid var(--bg-color);
  padding-bottom: 10px;
}

.top-menu__item__link {
  font-size: 20px;
  font-weight: 400;

  color: var(--bg-color);
}

.socials {
  grid-row: 1;
  grid-column: 3;
  align-self: center;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;

  width: 100%;
  height: 49px;

  border-bottom: 1px solid var(--bg-color);
  padding-bottom: 10px;
}

.socials__item__img {
  width: 24px;
  height: 24px;
}

.logo__link {
  grid-row: 2;
  grid-column: 1;

  display: flex;
  align-items: flex-end;

  height: 113px;
}

.logo__img {
  width: 126px;
  height: 81px;
}

.feedback {
  grid-row: 2;
  grid-column: 3;
  align-self: center;
  justify-self: end;

  width: 207px;
  height: 45px;

  padding: 10px 15px;

  border: 1px solid var(--bg-color);
  border-radius: 50px;

  background-color: var(--bg-color);

  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;

  cursor: pointer;
}

.feedback:focus {
  color: #4e23f0;
}

.feedback:hover {
  color: var(--bg-color);
  background-color: transparent;
}

/* Конкретное авто */

.auto {
  padding: 112px 80px 0;
}

.auto__card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.auto__card__img {
  width: 49%;
  border-radius: 10px;
  position: relative;
}

.auto__card__img__arrow__back,
.auto__card__img__arrow__next {
  width: 30px;

  position: absolute;
  top: 40%;

  cursor: pointer;

  background-color: var(--text-color);
  padding: 10px 7px;
  border-radius: 50%;
}

.auto__card__img__arrow__back {
  left: 10px;
}

.auto__card__img__arrow__next {
  right: 10px;
}

.auto__card__img__main {
  width: 100%;
  margin-bottom: 23px;
}

.auto__card__img__extra {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.active-img {
  outline: 6px double var(--bg-color);
}

.auto__card__img__extra__item {
  width: 31%;
  border-radius: 10px;

  cursor: pointer;
}

.auto__card__description {
  width: 49%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auto__card__title,
.auto__card__title_mobile {
  font-size: 24px;
  font-weight: 600;
}

.auto__card__title_mobile {
  display: none;
}

.auto__card__specification {
  display: flex;
  justify-content: space-between;

  font-size: 24px;
  font-weight: 400;

  margin-bottom: 23px;
}

.auto__card__specification:last-child {
  margin-bottom: 0;
}

.auto__card__specification__name {
  width: 49%;
}

.auto__card__specification__value {
  width: 49%;
  text-align: right;
}

.auto__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

.auto__card__price {
  font-size: 24px;
  font-weight: 600;
}

.auto__card__button {
  width: 297px;
  padding: 10px 16px;

  border-radius: 50px;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  color: var(--text-color);

  font-size: 20px;
  font-weight: 400;

  cursor: pointer;
}

.auto__card__button:hover {
  background-color: var(--text-color);

  color: var(--bg-color);
}

.profit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 40px;

  padding: 90px 0 0;
}

.profit__text {
  font-weight: 400;
}

.profit__value {
  font-weight: 900;
}

.auto__similar {
  padding: 90px 0 0;
}

.auto__similar__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 64px;
}

.auto__similar__contaiter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

.auto__similar__card {
  width: 32%;
  position: relative;
  padding-bottom: 30px;
}

.auto__similar__card__rating {
  position: absolute;
  top: 190px;
  left: 16px;

  display: flex;
  gap: 2px;

  align-items: end;

  background-color: var(--text-color);

  padding: 4px 5px;

  border-radius: 20px;
}

.auto__similar__card__rating__img {
  width: 20px;
  height: 20px;
}

.auto__similar__card__rating__value {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 400;
}

.auto__similar__card__img {
  width: 100%;
  height: 239px;

  border-radius: 10px;
  object-fit: cover;
}

.auto__similar__card__title {
  padding: 24px 0 16px;

  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.auto__similar__card__subtitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaaaaa;
}

.auto__similar__card__properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  padding: 24px 0;
}

.auto__similar__card__propertie {
  color: #bcbcbc;

  font-size: 13px;
  font-weight: 300;
}

.separator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bcbcbc;
}

.auto__similar__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auto__similar__card__price {
  font-family: Unbounded;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.8px;
  text-align: left;
}

.auto__similar__card__about {
  padding: 10px 16px;

  border-radius: 50px;
  border: 1px solid #000000;

  font-size: 20px;
  font-weight: 400;

  background-color: transparent;

  cursor: pointer;
}

.auto__similar__card__about:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--bg-color);
}

.auto__similar__arrows {
  display: none;
}

/* Footer */

footer {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 45fr 55fr;

  padding: 112px 80px 32px;

  width: 100%;

  color: var(--bg-color);
}

.footer__logo__link {
  grid-row: 1;
  grid-column: 1;

  display: flex;
  align-items: flex-end;

  height: 113px;

  border-top: 1px solid var(--bg-color);
}

.footer__logo__img {
  width: 126px;
  height: 81px;

  align-self: center;
}

.footer-menu {
  grid-row: 1;
  grid-column: 2;
  align-self: center;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 48px;

  height: 113px;

  border-top: 1px solid var(--bg-color);
}

.footer-menu__item__link {
  font-size: 20px;
  font-weight: 400;

  color: var(--bg-color);
}

.footer__socials {
  grid-row: 1;
  grid-column: 3;
  align-self: center;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;

  width: 100%;
  height: 113px;

  border-top: 1px solid var(--bg-color);
}

.footer__socials__item__img {
  width: 24px;
  height: 24px;
}

.footer__license {
  grid-row: 2;
  grid-column: 1;

  align-self: end;
  justify-self: start;

  font-size: 16px;
  font-weight: 200;

  width: 208px;
}

.footer__button {
  grid-row: 2;
  grid-column: 2;

  align-self: end;
  justify-self: center;

  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  color: var(--text-color);

  font-size: 24px;
  font-weight: 400;

  width: 242px;
  height: 62px;

  padding: 14px;

  border-radius: 50px;

  cursor: pointer;
}

.footer__button:focus {
  background-color: #4e23f0;
  border: 1px solid #4e23f0;
}

.footer__button:hover {
  background-color: transparent;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
}

.footer__confidentiality {
  grid-row: 2;
  grid-column: 3;

  justify-items: end;

  align-self: end;
  justify-self: center;

  font-size: 16px;
  font-weight: 200;
}

.footer__confidentiality__link {
  font-size: 16px;
  font-weight: 200;

  color: var(--bg-color);

  text-decoration: underline;
}

/* Форма обратной связи */
.popup,
.popup2 {
  position: fixed;

  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);

  z-index: 1000;
}

.popup__container,
.popup2__container {
  background-color: #4822a1;

  color: var(--text-color);

  width: 584px;
  min-height: 720px;

  border-radius: 10px;

  position: absolute;

  padding: 44px 40px;

  font-size: 20px;
  font-weight: 300px;
}

.popup__close,
.popup2__close {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 16px;
  height: 16px;

  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-color: initial;
  background-size: cover;

  border: none;

  cursor: pointer;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup__content__item,
.popup2__content__item {
  width: 100%;
  height: 57px;

  border: 1px solid var(--text-color);

  font-size: 20px;
  font-weight: 300;

  margin-bottom: 34px;

  background-color: #4822a1;

  padding: 16px;

  border-radius: 30px;

  color: var(--text-color);
}

.popup__content__item::placeholder,
.popup2__content__item::placeholder {
  color: var(--text-color);
}

.details {
  min-height: 116px;
}

.popup__text {
  display: block;

  font-size: 16px;
  font-weight: 300;

  margin-bottom: 8px;

  padding-left: 10px;
}

.popup__button,
.popup2__button {
  width: 100%;

  font-size: 32px;
  font-weight: 300;

  padding: 16px 10px;

  border-radius: 30px;
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: #000000;

  cursor: pointer;

  margin-top: 34px;
}

.popup__button:hover,
.popup2__button:hover {
  background-color: transparent;
  color: var(--text-color);
}

.communication-type__container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.communication-type__value,
.communication-type__text {
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
}

.hidden {
  display: none;
}

.selected {
  color: #4e23f0;
}

.active {
  z-index: 100;
}

@media (max-width: 1200px) {
  .auto__card__specification {
    font-size: 16px;
  }

  .auto__card__price {
    font-size: 16px;
  }

  .auto__card__button {
    font-size: 16px;
    margin-top: 10px;
  }

  .profit {
    font-size: 25px;
  }

  .auto__similar__card__footer {
    flex-wrap: wrap;
  }

  .auto__similar__card__price {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 1010px) {
}

@media (max-width: 1010px) {
  .top-menu {
    gap: 15px;
  }

  .top-menu__item__link {
    font-size: 14px;
  }

  /* Footer */

  footer {
    display: grid;

    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 2.5fr 1fr 1fr;

    padding: 16px;

    width: 100%;

    color: var(--bg-color);
  }

  .footer__logo__link {
    grid-row: 1;
    grid-column: 1;
    align-self: center;

    display: flex;
    align-items: flex-end;

    height: 104px;
    padding: 16px 0;
    display: block;
    margin-bottom: 16px;
  }

  .footer__logo__img {
    width: 162px;
    height: 104px;

    align-self: center;
  }

  .footer-menu {
    grid-row: 1;
    grid-column: 2 / span 2;
    align-self: center;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;

    height: 104px;
    padding: 16px 0;

    margin-bottom: 16px;
  }

  .footer-menu__item {
    padding-top: 22px;
  }

  .footer-menu__item__link {
    font-size: 16px;

    display: inline-block;
    height: 100%;
  }

  .footer__socials {
    grid-row: 2;
    grid-column: 1;
    align-self: center;

    gap: 33px;

    width: 100%;
    height: 32px;

    border-top: 0;
    margin-top: 20px;
  }

  .footer__socials__item__img {
    width: 32px;
    height: 32px;
  }

  .footer__license {
    grid-row: 3;
    grid-column: 1 / span 2;

    align-self: end;
    justify-self: start;

    font-size: 14px;

    max-width: 200px;
    text-align: left;
  }

  .footer__button {
    grid-row: 2;
    grid-column: 3;

    align-self: center;
    justify-self: end;

    font-size: 16px;

    width: 160px;
    height: 40px;

    padding: 4px;
  }

  .footer__confidentiality {
    grid-row: 3;
    grid-column: 3;

    justify-items: end;

    align-self: end;
    justify-self: end;

    font-size: 14px;
  }

  .footer__confidentiality__link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    padding: 24px 40px;
    top: 24px;

    justify-content: space-between;
    align-items: center;
  }

  .location {
    display: none;
  }

  .hamburger-menu {
    display: block;
    width: 53px;

    object-fit: cover;
  }

  .hamburger-menu__list {
    top: 100px;
    left: 30px;
  }

  .hamburger-menu__item {
    font-size: 15px;
  }

  .top-menu {
    display: none;
  }

  .socials {
    display: none;
  }

  .logo__link {
    height: 80px;
    grid-row: 1;
    grid-column: 2;
  }

  .logo__img {
    width: 124px;
    height: 80px;
    align-self: center;
  }

  .feedback {
    grid-row: 1;
    grid-column: 3;

    padding: 8px;

    font-size: 14px;
  }

  /* Конкретное авто */

  .auto {
    padding: 32px 30px 0;
  }
  .auto__card__img__arrow__back,
  .auto__card__img__arrow__next {
    top: 35%;
  }

  .auto__card__img__main {
    margin-bottom: 16px;
  }

  .auto__card__title,
  .auto__card__title_mobile {
    font-size: 16px;
  }

  .auto__card__specification {
    font-size: 14px;

    margin-bottom: 16px;
  }

  .auto__card__footer {
    gap: 5px;
  }

  .auto__card__price {
    font-size: 16px;
  }

  .auto__card__button {
    width: 95%;

    font-size: 15px;
  }

  .profit {
    font-size: 20px;

    padding: 40px 0 0;
  }

  .auto__similar {
    padding: 32px 0 0;
  }

  .auto__similar__title {
    font-size: 16px;

    padding-bottom: 16px;
  }

  .auto__similar__card__rating {
    top: 100px;
    left: 16px;
  }

  .auto__similar__card__rating__img {
    width: 16px;
    height: 16px;
  }

  .auto__similar__card__rating__value {
    font-size: 14px;
  }

  .auto__similar__card__img {
    height: 131px;
  }

  .auto__similar__card__title {
    padding: 16px 0 16px;

    font-size: 16px;
    min-height: 70px;
  }

  .auto__similar__card__subtitle {
    font-size: 16px;
    min-height: 38px;
  }

  .auto__similar__card__properties {
    flex-wrap: wrap;

    padding: 36px 0;
  }

  .auto__similar__card__propertie {
    font-size: 10px;
  }

  .separator {
    width: 6px;
    height: 6px;
  }

  .auto__similar__card__footer {
    flex-wrap: wrap;
  }

  .auto__similar__card__price {
    font-size: 16px;
    width: 100%;
  }

  .auto__similar__card__about {
    font-size: 16px;
  }

  /* Форма обратной связи */

  .popup__container,
  .popup2__container {
    width: 290px;
    min-height: 600px;

    font-size: 10px;
  }

  .popup__content__item,
  .popup2__content__item {
    height: 44px;

    font-size: 10px;
  }

  .popup__text {
    font-size: 10px;

    margin-bottom: 16px;

    padding-left: 8px;
  }

  .popup__button,
  .popup2__button {
    font-size: 10px;

    padding: 16px 10px;
  }
}

@media (max-width: 543px) {
  /* Header */

  header {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 0fr;

    padding: 16px 16px 0;
    top: 0;

    justify-content: space-between;
    align-items: center;
  }

  .location {
    display: none;
  }

  .hamburger-menu {
    display: block;
    width: 24px;
    height: 20px;
  }

  .hamburger-menu__list {
    top: 50px;
    left: 16px;
  }

  .top-menu {
    display: none;
  }

  .socials {
    display: none;
  }

  .logo__link {
    height: 36px;
    grid-row: 1;
    grid-column: 2;
  }

  .logo__img {
    width: 56px;
    height: 36px;
    align-self: center;
  }

  .feedback {
    width: 76px;
    height: 15px;

    grid-row: 1;
    grid-column: 3;

    padding: 4px;

    font-size: 6px;
  }

  /* Конкретное авто */

  .auto {
    padding: 0 16px;
  }

  .auto__card {
    flex-wrap: wrap;
  }

  .auto__card__img {
    width: 100%;
  }

  .auto__card__img__main {
    width: 100%;
    margin-bottom: 8px;
  }

  .auto__card__img__extra__item {
    width: 49%;
  }

  .auto__card__img__extra__item:last-child {
    display: none;
  }

  .auto__card__description {
    width: 100%;
    padding-top: 16px;
  }

  .auto__card__title {
    display: none;
  }

  .auto__card__title_mobile {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .auto__card__specification {
    font-size: 12px;

    margin-bottom: 8px;
  }

  .auto__card__specification__name {
    width: 49%;
  }

  .auto__card__specification__value {
    width: 49%;
    text-align: right;
  }

  .auto__card__price {
    font-size: 12px;
  }

  .auto__card__button {
    width: 106px;
    height: 32px;
    padding: 5px 8px;

    font-size: 10px;
    margin-top: 16px;
  }

  .profit {
    font-size: 16px;
    flex-wrap: wrap;
    text-align: center;
  }

  .auto__similar {
    padding: 24px 0 0;
  }

  .auto__similar__title {
    font-size: 16px;

    padding-bottom: 0;
  }

  .auto__similar__contaiter {
    position: relative;
    min-height: 350px;
  }

  .auto__similar__card {
    width: 244px;
    position: absolute;
    left: 0;
    top: 20px;
    background-color: var(--text-color);
  }

  .auto__similar__card__rating {
    top: 120px;
    left: 13px;
  }

  .auto__similar__card__rating__img {
    width: 16px;
    height: 16px;
  }

  .auto__similar__card__rating__value {
    font-size: 12px;
  }

  .auto__similar__card__img {
    height: 159px;
  }

  .auto__similar__card__title {
    padding: 8px 0;

    font-size: 12px;
  }

  .auto__similar__card__subtitle {
    font-size: 12px;
  }

  .auto__similar__card__properties {
    flex-wrap: wrap;

    padding: 16px 0 0;
  }

  .auto__similar__card__propertie {
    font-size: 10px;
  }

  .auto__similar__card__footer {
    align-items: center;
    margin-top: 16px;
  }

  .auto__similar__card__price {
    font-size: 12px;
  }

  .auto__similar__card__about {
    padding: 5px 8px;

    font-size: 12px;
  }

  .auto__similar__arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 8px;

    z-index: 101;
  }

  .auto__similar__arrow__back,
  .auto__similar__arrow__next {
    width: 34px;
    cursor: pointer;
  }

  /* Footer */

  footer {
    display: grid;

    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 0.5fr;

    padding: 16px;

    width: 100%;

    color: var(--bg-color);
    margin-top: 80px;
  }

  .footer__logo__link {
    grid-row: 1;
    grid-column: 1;
    align-self: center;

    display: flex;
    align-items: flex-end;

    height: 36px;
    padding: 16px 0;
    display: block;
    margin-bottom: 16px;
  }

  .footer__logo__img {
    width: 56px;
    height: 36px;

    align-self: center;
  }

  .footer-menu {
    grid-row: 1;
    grid-column: 2 / span 2;
    align-self: center;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: 36px;
    padding: 16px 0;

    margin-bottom: 16px;
  }

  .footer-menu__item {
    padding-top: 22px;
  }

  .footer-menu__item__link {
    font-size: 10px;

    display: inline-block;
    height: 100%;
  }

  .footer__socials {
    grid-row: 2;
    grid-column: 1;
    align-self: center;

    gap: 8px;

    width: 100%;
    height: 20px;

    border-top: 0;
  }

  .footer__socials__item__img {
    width: 16px;
    height: 16px;
  }

  .footer__license {
    grid-row: 3;
    grid-column: 3;

    align-self: end;
    justify-self: end;

    font-size: 8px;

    max-width: 120px;
    text-align: right;
  }

  .footer__button {
    grid-row: 2;
    grid-column: 3;

    align-self: center;
    justify-self: end;

    font-size: 10px;

    width: 105px;
    height: 20px;

    padding: 4px;
  }

  .footer__confidentiality {
    grid-row: 3;
    grid-column: 1 / span 2;

    justify-items: end;

    align-self: end;
    justify-self: center;

    font-size: 8px;
  }

  .footer__confidentiality__link {
    font-size: 8px;
  }

  /* Форма обратной связи */

  .popup__container,
  .popup2__container {
    width: 290px;
    height: 544px;

    font-size: 10px;
  }

  .popup__content__item,
  .popup2__content__item {
    height: 44px;

    font-size: 10px;
  }

  .popup__text {
    font-size: 10px;

    margin-bottom: 16px;

    padding-left: 8px;
  }

  .popup__button,
  .popup2__button {
    font-size: 10px;

    padding: 16px 10px;
  }
}
